#home {
    margin-top: 50px;
    height: 95vh;
    background-color: #414141;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

#about {
    margin-top: 60px;
}

#skills {
    margin-top: 50px;
}

#projects {
    margin-top: 50px;
}

.text-changer{
    height: 40px;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    color: #000000;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 25px;
    box-sizing: content-box;
}

.intro-text{
    margin-top: -2px;
}

.roles-container{
    overflow: hidden;
    position: relative;
}

.role{
    display: blocks;
    height: 100%;
    padding-left: 6px;
    color: #f0f0f0;
    animation: role-change 4s infinite;
}