#home {
    margin-top: 50px;
    height: 50vh;
    padding: 20px;
    background-color: #f0f0f0;
    width: 100%;
    box-sizing: border-box;
}

#about {
    margin-top: 60px;
}

#skills {
    margin-top: 50px;
}

#projects {
    margin-top: 50px;
}
