#home {
    margin-top: 350px;
    height: 100vh;
    padding: 20px;
    background-color: #f0f0f0;
    width: 100%;
    box-sizing: border-box;
}

#about {
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#skills {
    margin-top: 50px;
}

#projects {
    margin-top: 50px;
}
