#home {
    margin-top: 50px;
    height: 100vh;
    background-color: #3981df;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

#about {
    margin-top: 60px;
    padding: 50px;
}

#skills {
    margin-top: 50px;
}

#projects {
    margin-top: 50px;
    margin-bottom: 100px;
}

.text-changer{
    height: 40px;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    color: #000000;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 25px;
    box-sizing: content-box;
}

.intro-text{
    margin-top: -2px;
}

.roles-container{
    overflow: hidden;
    position: relative;
}

.role{
    display: blocks;
    height: 100%;
    padding-left: 6px;
    color: #f0f0f0;
    animation: role-change 4s infinite;
}

.ml11 {
  font-weight: 700;
  font-size: 3.5em;
}

.ml11 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
}

.ml11 .line {
  opacity: 0;
  position: absolute;
  left: 0;
  height: 100%;
  width: 3px;
  background-color: #fff;
  transform-origin: 0 50%;
}

.ml11 .line1 { 
  top: 0; 
  left: 0;
}

.ml11 .letter {
  display: inline-block;
  line-height: 1em;
}